apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik-plugins
  namespace: argocd
  labels:
    app.kubernetes.io/name: traefik-plugins
    app.kubernetes.io/component: networking
    app.kubernetes.io/part-of: k8s-hetzner
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://github.com/wiktorkowalski/k8s-hetzner.git
    targetRevision: master
    path: k8s/apps/traefik-plugins/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
