apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: authentik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.goauthentik.io
    chart: authentik
    targetRevision: 2025.1.1
    helm:
      releaseName: authentik
      values: |
        authentik:
          secret_key: "JEqx/2IAeCOaL8Y3hEuFmjdamKLy6GqevvZmp4o01l6C4ACFEXLaKkCmZ8WwpSv9Ux8="
          error_reporting:
            enabled: false
          postgresql:
            host: "authentik-postgres-rw"
            name: "authentik"
            user: "authentik"
            password: "authentik-postgres-pass"

        server:
          replicas: 1
          ingress:
            enabled: true
            ingressClassName: traefik
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt-prod
            hosts:
              - auth.k8s.vicio.ovh
            tls:
              - secretName: authentik-tls
                hosts:
                  - auth.k8s.vicio.ovh

        worker:
          replicas: 1

        postgresql:
          enabled: false

        redis:
          enabled: true
          auth:
            enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: authentik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
