apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headlamp
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/headlamp-k8s/headlamp.git
    targetRevision: v0.27.0
    path: charts/headlamp
    helm:
      releaseName: headlamp
      values: |
        config:
          baseURL: "https://headlamp.k8s.vicio.ovh"

        env:
          - name: HEADLAMP_CONFIG_OIDC_CLIENT_ID
            value: "ret3n8Krk6LLg8QTm6WjUxY1oxQ7G4KD9kw1JeCC"
          - name: HEADLAMP_CONFIG_OIDC_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: headlamp-oidc
                key: clientSecret
          - name: HEADLAMP_CONFIG_OIDC_ISSUER_URL
            value: "https://auth.k8s.vicio.ovh/application/o/headlamp/"
          - name: HEADLAMP_CONFIG_OIDC_SCOPES
            value: "openid,profile,email,groups"

        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi

        service:
          type: ClusterIP
          port: 80

        ingress:
          enabled: false

        serviceAccount:
          create: true
          name: headlamp

        clusterRoleBinding:
          create: true

        replicaCount: 1
  destination:
    server: https://kubernetes.default.svc
    namespace: headlamp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
