apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  url: https://argocd.k8s.vicio.ovh
  dex.config: |
    connectors:
      - type: oidc
        id: authentik
        name: Authentik
        config:
          issuer: https://auth.k8s.vicio.ovh/application/o/argo-cd/
          clientID: IrkjHsniW9xKNWAx9QGViY4EcGiLV9cp00i4prEf
          clientSecret: $oidc.authentik.clientSecret
          insecureEnableGroups: true
          scopes:
            - openid
            - profile
            - email
            - groups
